<div class="collection">
  <h1>Booklist</h1>
</div>
<div class="book-list">
  <% @books.each do |book| %>
  <div class="wrapper">
    <h2><%= book.title %></h2>
    <h3>Author: <%= book.author %></h3>
    <div class="button">
    <%= link_to book_path(book.id), class: "btn btn-default" do %>
      <i class="fas fa-eye"></i> 
    <% end %>
    <%= link_to edit_book_path(book.id), class: "btn btn-default" do %>
      <i class="fas fa-edit"></i> 
    <% end %>
    <%= link_to delete_book_path(book),               
            method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
      <i class="far fa-trash-alt"></i> 
    <% end %>
  </div>
</div>



  <% end %>





</div>
